* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

div.fixedContainer {
  position: sticky;
  top: 0;
  box-shadow: 1px 5px 3px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 5px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 5px 3px 0px rgba(0, 0, 0, 0.75);
}

header {
  background-color: rgb(226, 226, 226);
  font-family: "Amatic SC", cursive;
  text-align: center;
}

nav {
  text-align: center;
  background-color: black;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: flex;
  font-family: "Amatic SC", cursive;
  font-size: 1.25rem;
  padding: 0.5rem 0.75rem;
  color: white;
  text-decoration: none;
  transition: all 0.25s ease;
}

nav ul li a:hover {
  /* color: lightgrey; */
  background-color: lightgrey;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

section.left,
section.right {
  padding: 1rem;
}

section.left {
  width: 66.7%;
  flex: 4 1 350px;
}

section.right {
  width: 33.3%;
  flex: 1 1 250px;
}

div.picture {
  display: flex;
  width: 80%;
}

img.leftColImg {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  border-radius: 5%;
}

@media screen and {
  max-width: 650px;
  nav ul {
    flex-direction: column;
  }
}
